@import url('https://api.fontshare.com/css?f[]=clash-grotesk@1&f[]=cabinet-grotesk@400,700&display=swap');


.navname{
font-family: 'Cabinet Grotesk', monospace;
line-height: .75em;
  font-weight: 700;
  font-size: 5em;
  flex: 1;
  margin-bottom: 10px;
}


