@import url('https://api.fontshare.com/css?f[]=clash-grotesk@1&f[]=cabinet-grotesk@400,700&display=swap');


.navname > a {
  margin-top: 2rem;
  font-family: 'Cabinet Grotesk', sans-serif;
  line-height: .75em;
  font-weight: 700;
  font-size: 3.5em;

}

.nav > a {
  align-items: flex-end;
  justify-content: end;
}

.navname > a:hover {
  text-decoration: none;
  color: rgb(61, 61, 172);
}

@media only screen and (max-width: 800px) {
  .navname {
    flex-direction: column;
    flex: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-container > a {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: -1rem auto;

  }
  .nav > a {
    font-size: 1.125rem;
  }
}