@import url("https://api.fontshare.com/css?f[]=clash-grotesk@1&display=swap");

.workbutton {
  text-decoration: none;
  padding: 0 .5rem;
  border-radius: 5rem;
  color: #000;
  display: inline-block;
  border-color: white !important;
  color: inherit;
  font-size: 2rem;
  letter-spacing: .025em;
  line-height: 3.25rem;
  height: 3.5rem;
  width: 8rem;
  text-align: center;
  font-family: 'Clash Grotesk', sans-serif;
  transform: scale(1.5);
  z-index: 100;
}

.workbutton:hover {
  color: yellow;
  font-style: italic;
}
