@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;600&display=swap');



#root canvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  height: 800px;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;

}

html,
body, a {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  font-weight: 300;
  font-size: small;
  font-family: 'Noto Sans Mono', monospace;
  overscroll-behavior: none;
  overflow-x: hidden;
}

a:hover {
  text-decoration: underline;
}

.home-logo {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
  position: "fixed";
  z-index: 100;
}










* {
  box-sizing: border-box;
}

