@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://api.fontshare.com/css?f[]=clash-grotesk@1&f[]=cabinet-grotesk@400,500,700,800&display=swap");

@keyframes movebg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

@-webkit-keyframes movebg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

@font-face {
  font-family: "ABC Whyte Inktrap";
  src: url("/fonts/ABCWhyteInktrapSemi-Mono-Regular-Trial.otf");
}

@font-face {
  font-family: "ABC Prophet";
  src: url("/fonts/ABCProphetVariable-Trial.ttf");
  font-weight: thin normal medium bold;
}

@font-face {
  font-family: "ABC Ginto";
  src: url("/fonts/ABCGintoNormalVariable-Trial.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "ABC Ginto Nord";
  src: url("/fonts/ABCGintoNordVariable-Trial.ttf");
  font-weight: thin normal medium bold;
}

@font-face {
  font-family: "ABC Whyte Mono";
  src: url("/fonts/ABCWhyteMono-Regular-Trial.otf");
  font-weight: normal;
}

@font-face {
  font-family: "ABC Social";
  src: url("/fonts/abcSocialMono/ABCSocialMono-Bold-Trial.otf");
  font-weight: bold;
}
@font-face {
  font-family: "ABC Social";
  src: url("/fonts/abcSocialMono/ABCSocialMono-Book-Trial.otf");
  font-weight: normal;
}
@font-face {
  font-family: "ABC Social";
  src: url("/fonts/abcSocialMono/ABCSocialMono-Medium-Trial.otf");
  font-weight: medium;
}

@font-face {
  font-family: "ABC Social";
  src: url("/fonts/abcSocialMono/ABCSocialMono-RegularItalic-Trial.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ABC Monument Grotesk Mono";
  src: url("/fonts/abcMonumentGroteskMono/ABCMonumentGroteskMono-Bold-Trial.otf");
  font-weight: bold;
}
@font-face {
  font-family: "ABC Monument Grotesk Mono";
  src: url("/fonts/abcMonumentGroteskMono/ABCMonumentGroteskMono-Medium-Trial.otf");
  font-weight: medium;
}
@font-face {
  font-family: "ABC Monument Grotesk Mono";
  src: url("/fonts/abcMonumentGroteskMono/ABCMonumentGroteskMono-Medium-Trial.otf");
  font-weight: normal;
}
@font-face {
  font-family: "ABC Monument Grotesk Mono";
  src: url("/fonts/abcMonumentGroteskMono/ABCMonumentGroteskMono-Light-Trial.otf");
  font-weight: thin;
}

#root canvas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  height: 800px;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

html,
body {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  font-weight: 500;
  font-size: large;
  font-family: "Cabinet Grotesk", sans-serif;
  overscroll-behavior: none;
  overflow-x: hidden;
}
::selection {
  background: #16dcde;
  backdrop-filter: invert(70%);
}

a {
  font-size: larger;
  font-weight: 400;
  /* font-family: "Cabinet Grotesk", sans-serif; */
}
a:hover {
  /* text-decoration: #00ffff underline;
  text-underline-offset: 6px; */
  color: darkcyan;
}

* {
  box-sizing: border-box;
  /* cursor: none; */
}

/* .cursor {
  background-color: rgba(255, 0, 0, 0.63);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
} */
