@import url("https://api.fontshare.com/css?f[]=clash-grotesk@1&display=swap");


.flexcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homelogo {
  flex: 2;
  filter: contrast(5);
  margin-top: 5vh;
 justify-content: center;
 z-index: 1;
}


.homebutton {
  margin-top: -10vh;
  justify-content: center;
  z-index: 100;
}

.marquee {
  color: white;
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: .25rem;
  z-index: 100;
  margin-bottom: -20vh;
}


@media only screen and (max-width: 768px) {
  
  .homelogo{
    margin: 15vh 0 0;
  }

  .homebutton {
    margin-top: -5vh;
  }
}

@media only screen and (max-width: 550px) {
  

  .homebutton {
    margin-top: 0;
  }
}