


.flexcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overscroll-behavior-y: none;
  background-color: black;
}

.homelogo {
  flex: 2;
  filter: contrast(5);
  margin-top: 20vh;
 justify-content: center;
 z-index: 1;
}


.homebutton {
  margin-top: -9vh;
  justify-content: center;
  z-index: 100;
}

.marquee {
  color: white;
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: .25rem;
  z-index: 100;
  margin-top: 2.5vh;
  margin-bottom: -20vh;
  font-family: 'Cabinet Grotesk', sans-serif;
}


@media only screen and (max-width: 768px) {

  .marquee {
    margin-top: 5vh;
    margin-bottom: -10vh;
  }
  
  .homelogo{
    margin: 15vh 0 0;

  }

  .homebutton {
    margin-top: -5vh;
  }
}

@media only screen and (max-width: 550px) {
  
  .homelogo{
    margin: 15vh 2rem 1.5rem;

  }

  .homebutton {
    margin-top: 0;
  }

}
