@import url("https://api.fontshare.com/css?f[]=clash-grotesk@1&f[]=cabinet-grotesk@400,500,700,800&display=swap");

.container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.608);
}

.container {
  background-size: cover;
  background-image: url("/gradient-1.png");
  background-repeat: repeat;
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.title {
  width: 100vw;
  margin: 0 auto;
  pointer-events: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 300px;
  color: black;
  backdrop-filter: invert(0.7);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  letter-spacing: 13px;
}
