.about {
  font-family: 'Noto Sans Mono', monospace;
  line-height: 1.75em; 
}

@media only screen and (max-width: 800px) {
  .about {
    width: 80%;
    padding: 1rem 0 1rem 1.5rem;
    align-items: center;
  }
}
