.about {
  font-family: 'Noto Sans Mono', monospace;
  line-height: 1.75em; 
}

@media only screen and (max-width: 700px) {
  .about {
    margin-left: 1rem;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .about {
    width: 85%;
    align-items: center;
  }

}